{% extends "blog/base.html" %}

{% block content%}

	<h2>Anasayfa</h2>

	{% for post in posts %}
		<article class="media content-section">
		  <img class='rounded-circle article-img' src="{{ post.author.profile.image.url }}">	
		  <div class="media-body">
		    <div class="article-metadata">
		      <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
		      <small class="text-muted ml-12">{{ post.date_posted}}</small>
		      <small class="text-muted">---> {{ post.mood }}</small>

		      <br>


		       {% for tag in post.tags.all %}
                    konum:<strong> <a href="{% url 'tagged' tag.slug %}">{{ tag.name }}</a> </strong></a>

              {% endfor %}

		      <!--konum:<strong> {{post.tags}} </strong></a>-->

		    </div>
		    <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
		    <p class="article-content">{{ post.content }}</p>

		    <div>
			    <form action="{% url 'like_post' post.pk%}"
			    method="POST">
			    	{% csrf_token %}
			    	<button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-primary btn-sm">Beğen</button> -- {{ post.total_likes }} Begeni
				</form>
				<hr>
			    <h5>Yorumlar:</h5>

			    {% if not post.comments.all %}
			    	henüz yorum yok...<a href="{% url 'add_comment' post.pk %}">yorum ekle</a>
			    {% else %}
			    	{% for comment in post.comments.all %}
			    		<strong>
				    		{{ comment.name }} 
				    		
			    		</strong>
			    		•
			    		<small>{{ comment.date }}</small>
			    		<br/>
			    		<small>{{ comment.body }}</small>
			    		<br/>
			    		<hr>
			    	{% endfor %}
			    <a href="{% url 'add_comment' post.pk %}">yorum ekle</a>

			    {% endif %}
			    
		    </div>
		  </div>
		</article>

	{% endfor %}

{% endblock content %}
